 
  <div class="down">
    <div class="sub-footer">
      <p>Taylor Alison</p>
      <p>email: Tayloralison@gmail.com</p>
      <p>0647653209</p>
  </div>
  <div class="sub-footer">
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-envelope"></i>
  </div>
 </div>