<h1>Gallery</h1>
<div class="gallery">
    <img src="img1.jpg" alt="picture">
    <img src="img2.jpg" alt="picture">
    <img src="img3.jpg" alt="picture">
    <img src="img4.jpg" alt="picture">
    <img src="img5.jpg" alt="picture">
</div>